html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
	body {
		color: #000;
		background: #fff;
		text-align: left;
		min-height: 100%;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 14px;
		line-height: 24px;
	}
	ul{
		list-style-type: none;
		padding: 0;
	}
	a, a:visited { /* порядок правил для ссылок имеет значение */
		text-decoration: none;
		color: #000;
	}
	a:hover {
	}
	a:focus, a:active {
	}
	img{
		max-width:100%;
	}
	.centerfix{
		max-width: 900px;
		padding: 0 10px;
		margin: 0 auto;
	}
header{
	background-color: #eee;
}
	.header-top{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
		.main-menu ul{
			display: flex;
		}
		.user-block{
			display: flex;
		}
	.slider img{
		width:100%;
	}
		.slider ul li{
		position: relative;
		/*чтобы небыло снизу белой полосы*/
		}
		.slide-text-wrapper{
		position: absolute;
		max-width: 470px;
		top: 10%;
		left:0;
		}
		.unslider-nav{/* кнопки навгации при дефолте видны только в панели разработчика - проявим их явно*/
			margin: -20px auto 0 auto; /*чтобы не было белого отступа после слайдера*/
			position: relative;
			top: -18px; /*чтобы поднять повыше*/
		}
			.unslider-nav ol {
			  list-style: none;
			  text-align: center;
			}
			.unslider-nav ol li {
			  display: inline-block;
			  width: 11px;
			  height: 11px;
			  margin: 0 4px;
			  background: transparent;
			  border-radius: 10px;
			  overflow: hidden;
			  text-indent: -999em;
			  border: 1px solid #fff;
			  cursor: pointer;
			}
			.unslider-nav ol li.unslider-active {
				width: 15px;
			  height: 15px;
				background: #4bcaff;
			  border: 1px solid #4bcaff;
			  cursor: default;
			}
.features{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
}
	.feature-item{
		width: 26.7%
	}
	.feature-icon{
		width: 100%;
	}
.content-index{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
}
	.content-index li{
 		background: url(../img/list-img.jpg) left center no-repeat;
 		padding-left: 35px;
	}
	.content-index-right{
	width: 26.7%;
	}
	.content-index-left{
		width: 63.9%;
	}
.logo{
	align-items: center;
}
	.map{}
		.map-adaptive{/* метод для размещения любого контента адаптивною Св-ва для родителя*/
			position: relative;
			padding-bottom: 34.5%; /*высота/ширина*100%*/
			height: 0;
			overflow: hidden;
		}
			.map-adaptive iframe{ /*Св-ва для встариваемого контента*/
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
		.address{
			position: absolute;
			left:18%;
			top: 18%;
			background-color: #fff;
		}
		.contact-form{
			position: absolute;
			width: 70%;
			background-color: #fff;
			top:-3%;
			left:13.8%;
		}
footer .centerfix{
	display: flex;
	justify-content: space-between;
}



/* --------------- shop ---------*/
.catalog{
	display: flex;
	justify-content: space-between;
}
	aside{
		width: 26.7%;
	}
	section{
		width: 62.2%;
		display: flex;
		flex-direction: column;
	}
		.sort{
			display: flex;
			justify-content: space-between;
		}
			a.arrow {
		    display: inline-block;
		    margin: 0 3px;
		    font-size:0;
			}
				.arrow::before {
				   content: "";
				   border: 10px solid #00ca74;
				   border-right-width: 5px;
				   border-left-width: 5px;
				   border-right-color: transparent;
				   border-left-color: transparent;
				   display:inline-block;
				}
				.arrow-up::before {
					border-top-width:0;
				}
				.arrow-down::before {
					border-bottom-width:0;
				}
		.catalog-list{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}
			.item{
				width: 42.9%;
				display: flex;
				flex-direction: column;
			}
		.paginator a{
		    display: inline-block;
		    min-width: 20px;
		    height: 40px;
		    padding: 0 10px;
		    line-height: 40px;
		    text-align: center;
		    vertical-align: middle;
		    text-decoration: none;
		    font-weight: bold;
		    color: white;
		    background: #95a5a6;
			}
			.paginator .current {
	background-color: #16a085;
}
.paginator a:hover {
    background-color: #2ecc71;
}
